* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serifs;
}
body {
  margin: 0 auto;
}
header {
  background: linear-gradient(#cbccfd, white);
}
main {
  background-color: white;
}

h1 {
  padding: 0.3em 0 0.5em 0;
  text-align: center;
  color: #0476b8;
}
h2 {
  text-align: center;
  clear: both;
  padding: 0.8em 0 1.5em 0;
}
h3 {
  padding: 1.5em;
  border-top: #999 2px solid;
}
ul li {
  list-style: none;
}
.grid-item:hover {
  box-shadow: 0 0 10px;
  transition: box-shadow 1s;
}
.grid-item p {
  padding: 0 1.5em 1.5em 1.5em;
}
.grid-item img {
  width: 100%;
}

/*Grid with floats*/

#grid-floats .grid-item {
  float: left;
  margin: 1em;
}

/* Tablet Styles - Float*/
@media screen and (min-width: 601px) and (max-width: 1023px) {
  #grid-floats .grid-item {
    width: 27%;
  }
  #grid-floats .grid-item:nth-of-type(1),
  #grid-floats .grid-item:nth-of-type(2) {
    width: 43%;
  }
  #grid-floats .grid-item:nth-of-type(3),
  #grid-floats .grid-item:nth-of-type(3n + 3) {
    clear: left;
  }
}

/*Desktop Styles - Float*/
@media screen and (min-width: 1024px) {
  @font-face {
    font-family: Yusei Magic;
    src: url(fonts/YuseiMagic-Regular.ttf);
  }
  h1,
  h2,
  h3 {
    font-family: 'Yusei Magic', sans-serif;
  }
  header {
    height: 120px;
    font-size: 25px;
  }
  #grid-floats .grid-item {
    width: 20%;
  }
  #grid-floats .grid-item:nth-of-type(1) {
    width: 46%;
  }
  #grid-floats .grid-item:nth-of-type(4),
  #grid-floats .grid-item:nth-of-type(4n + 4) {
    clear: left;
  }
}

/* Grid with flexbox */
#grid-flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-around;
}
#grid-flex .grid-item {
  margin-bottom: 1em;
}

/* Tablet Styles - Flexbox*/
@media screen and (min-width: 601px) and (max-width: 1023px) {
  #grid-flex .grid-item {
    width: 27%;
  }
  #grid-flex .grid-item:nth-of-type(1),
  #grid-flex .grid-item:nth-of-type(2) {
    width: 43%;
  }
}

/*Desktop Styles - Flexbox*/
@media screen and (min-width: 1024px) {
  #grid-flex .grid-item {
    width: 22%;
  }
  #grid-flex .grid-item:nth-of-type(1) {
    width: 46%;
  }
}
